
.icon-basket:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-play:before { content: '\e803'; } /* '' */
.icon-stop:before { content: '\e804'; } /* '' */
.icon-pause:before { content: '\e805'; } /* '' */
.icon-down-open-big:before { content: '\e806'; } /* '' */
.icon-left-open-big:before { content: '\e807'; } /* '' */
.icon-right-open-big:before { content: '\e808'; } /* '' */
.icon-up-open-big:before { content: '\e809'; } /* '' */
.icon-menu:before { content: '\e80a'; } /* '' */
.icon-tag:before { content: '\e80b'; } /* '' */
.icon-dot:before { content: '\e80c'; } /* '' */
.icon-dot-2:before { content: '\e80d'; } /* '' */
.icon-dot-3:before { content: '\e80e'; } /* '' */
.icon-credit-card:before { content: '\e80f'; } /* '' */
.icon-record:before { content: '\e810'; } /* '' */
.icon-phone:before { content: '\e811'; } /* '' */
.icon-chat:before { content: '\e812'; } /* '' */
.icon-cancel:before { content: '\e813'; } /* '' */
.icon-minus:before { content: '\e814'; } /* '' */
.icon-plus:before { content: '\e815'; } /* '' */
.icon-check:before { content: '\e816'; } /* '' */
.icon-comment:before { content: '\e817'; } /* '' */
.icon-location:before { content: '\e818'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
.icon-paypal:before { content: '\f342'; } /* '' */